{% extends 'base.html.twig' %}

{% block body %}
<main>

        <div class="container" style="min-height: 92vh;">

            <h1 class="logo">Osadnicy</h1>
            <h3 class="text-center">Rejestracja</h3>

            <div class="text-light row justify-content-center">
                <div class="col-0 col-md-2"></div>
                <div class="rejstracja col-12 col-md-8 bg-primary text-center">
                    {{ form_start(form) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>

                        <div class="row">
                            <div class="col">
                                <i class="fa fa-user"></i>
                                {{ form_row(form.nick, {'attr': {'placeholder': 'Nazwa użytkownika'}}) }}
                            </div>
                            <div class="col" id="some-custom-id">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
</main>
{% endblock %}
